Backup
Binaries
Config
Content
DerivedDataCache
Intermediate
Saved
.gitattributes
.vscode
.vsconfig
.vs
*.Target.cs
*.htm
*.uproject
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace